.soccer {
  background: url('../../../../assets/images/ball-loading-spinner.png');
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  position: relative;
  -webkit-animation:roll 4.5s infinite;
  -moz-animation:roll 4.5s infinite;
  animation:roll 4.5s infinite;
}

@-moz-keyframes roll {
  0% {left:0; -webkit-transform: rotate(-360deg);}
  50% {left:1000px; -webkit-transform: rotate(360deg);}
  100% {left:0; -webkit-transform: rotate(-360deg);}
}
@-webkit-keyframes roll {
  0% {left:0; -webkit-transform: rotate(-360deg);}
  50% {left:1000px; -webkit-transform: rotate(360deg);}
  100% {left:0; -webkit-transform: rotate(-360deg);}
}

@keyframes roll {
  0% {left:0; -webkit-transform: rotate(-360deg);}
  50% {left:1000px; -webkit-transform: rotate(360deg);}
  100% {left:0; -webkit-transform: rotate(-360deg);}
}
