<!-- Idee -->
<section id="idee" class="subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <h3>Der 168 Stunden Weltrekord von Winterbach<br /><small>Der Weltrekordversuch 2019</small></h3>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <p>
          Das Spiel, das unter der Application Reference 171103092600lmpf als Weltrekordversuch bei
          Guinness angemeldet wurde, wird auf der Sportanlage in Winterbach, Saarland im Kreis St.
          Wendel im Zeitraum der 22. Kalenderwoche 2019 durchgeführt. Es wird eine offizielle
          Guinness World Records Zertifizierung angestrebt, weshalb das Spiel in Bild und Schrift über
          den kompletten Verlauf dokumentiert werden muss.
        </p>
        <p>
          Die Mannschaften bestehen aus jeweils 18 Personen, welche während des gesamten
          Spielverlaufs das abgegrenzte Spielerareal nicht verlassen dürfen. Spielerwechsel sind nur im
          Kontingent der gemeldeten Personen zulässig, was bedeutet, dass dieselben 36 Personen
          das Spiel beginnen und beenden müssen. Sollten Verletzungen auftreten, muss die
          Mannschaft, die es betrifft diese mit dem vorhandenen Kader kompensieren. Das Spiel
          selbst, wird nach den Richtlinien und Regeln des Deutschen Fußball Bundes durchgeführt.
          Die einzige Sonderregelung betrifft die Pausen. Pro gespielter Zeitstunde wird hier eine
          Pause von fünf Minuten erspielt, die in Absprache beider Teams beliebig genommen oder
          aufgespart werden kann (so können zum Beispiel zeitweise Gewitter mit einer Pause
          überbrückt werden).
        </p>
        <p>
          Weiterhin werden die Spieler ansonsten von einem Betreuungsstab mit allem versorgt was
          benötigt wird. Von warmen Speisen und kalten Getränken, über Unterhaltungsprogramme
          zur Ablenkung, bis hin zur muskelentspannenden Massage wird für alles gesorgt werden.</p>
      </div>
    </div>
  </div>
</section><!-- //Idee -->


