<section id="spiel" class="subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <h3>Bisherige Rekordversuche <br /><small>Geschichte über das längste Fußballspiel der Welt</small></h3>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <p>
          Erstmals aufmerksam auf den Weltrekord über das längste Fußballspiel wurde man 2014, als
          im französischen Kerbach ein solcher über 72h durchgeführt, jedoch im Nachgang seitens
          der Guinness World Records Limited Company nicht anerkannt wurde.
        </p>
        <p>
          In Folge dessen haben der VfL Wallhalben und der SC Winterbach vom 04. bis 07. Juni 2015
          einen Versuch über 75h gestartet und erfolgreich abgeschlossen. Da jedoch
          (unbekannterweise) nahezu zeitgleich am 05. Juni 2015 in Edinburgh ein Spiel über 102h
          beendet wurde, konnte der Rekord von Wallhalben nur kurzfristig vom vor Ort anwesenden
          Rekord-Institut-Deutschland (RID) anerkannt werden, dessen Gültigkeit mit der Guinness-
          Anerkennung des Edinburgh-Spiels allerdings wieder erloschen war.
        </p>
        <p>
          In Worthing (UK) wurde zwischen dem 26. und 30. Mai 2016 ein Weltrekord über 108
          Stunden und 2 Minuten aufgestellt und von Guinness als solcher anerkannt.
        </p>
        <p>
          Da man sich seitens des VfL Wallhalben jedoch so schnell nicht geschlagen geben wollte,
          wurde gemeinsam mit dem FC Hamburger Berg ein Spiel über 111 Stunden vereinbart,
          welches in der Zeit vom 31. Mai bis zum 05. Juni 2016 im Schanzenpark Hamburg
          ausgetragen wurde. Dieser Versuch wurde von der World Record Academy als Weltrekord
          anerkannt und als solcher beurkundet, seitens Guinness jedoch nicht, weil man hier mit der
          Beweisführung nicht einverstanden war.
        </p>
        <p>
          Um nun allen Irrungen und Wirrungen ein Ende zu setzen, planen die Sportfreunde
          Winterbach und der „Thank God It ́s Friday – Event Club“ vom 29. Mai bis zum 05. Juni 2019
          ein Spiel über 168 Stunden, wollen damit die gültige Marke deutlich überbieten und diesen
          „Titel“ nun dauerhaft nach Deutschland, dem unserer Meinung nach einzig wahren
          Mutterland des Fußballs, zurückholen.
        </p>
      </div>
    </div>
  </div>
</section>
