<div class="row">

  <div class="col-xs-12 band mb-3">

    <h3>Liveauftritte</h3>

    <div class="align-items-center d-flex justify-content-between mb-3">
      <h2>Firma Holunder</h2>
      <div class="date">29.05.19 ab 21 Uhr</div>
    </div>

    <div class="text-center">
      <img class="w-50" src="/assets/images/bands/Firma-Holunder.jpg" alt="Firma Holunder"/>

      <div class="text-left">
        <p class="text-white">
          Bei Firma Holunder wird nicht gekleckert, sondern geklotzt, wenn es darum geht, Menschen in Feierlaune zu
          versetzen. Ihr breit gefächertes Repertoire, jahrzehntelange Erfahrung und ihre unbändige Spielfreude
          garantieren
          auf jedem Event herausragende Stimmung und zufriedene Gäste, von der gemütlichen Après-Ski-Hütte bis ins
          größte Festzelt.
        </p>
        <p class="text-white">
          Dank flexibler Besetzung von drei bis sechs Musikern ist Firma Holunder die ideale Wahl für jegliche
          Größenordnung. Auch Firmenfeiern, Geburtstagspartys und Vereinsfeste sind
          selbstverständlicher Bestandteil ihres mit über 120 Gigs jährlich reich gefüllten
          Terminkalenders.
        </p>
      </div>
    </div>

    <span class="w-100 ml-3">
      <a class="btn btn-primary mr-1" target="_blank" href="https://www.firma-holunder.de"><i
        class="fa fa-home"></i></a>
      <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/FirmaHolunder">
        <i class="fa fa-facebook"></i>
      </a>
    </span>
  </div>


  <div class="col-xs-12 band">
    <div class="align-items-center d-flex justify-content-between mb-3">
      <h2>Country Crash</h2>
      <div class="date">31.05.19 ab 21 Uhr</div>
    </div>

    <div class="text-center">
      <img class="w-50" src="/assets/images/bands/Country-Crash.jpg" alt="Country Crash"/>

      <div class="text-left">
        <p class="text-white">
          Die Band hat sich aus der Irish Folk Band The Durty Nellys gegründet, um den Spaß an guter handgemachter Musik
          weiter auszuleben. Quer durch das akustische Spektrum, von Johnny Cash bis hin zu Mike Ness spielen die
          Musiker
          alles und nutzen dafür unterschiedliche Instrumente wie Gitarre, Banjo, Ukulele, Mandoline, Blues Harp
          und vieles mehr .
        </p>
        <p class="text-white">
          Die Band wurde 2015 aus der Irish Folk Band The Durty Nellys gegründet und bietet Euch ein breites Repertroire
          aus
          Country, Blues, Irish Folk und Evergreens.
        </p>
      </div>
    </div>
    <span class="w-100 ml-3">
      <a class="btn btn-primary mr-1" target="_blank" href="http://www.country-crash.de"><i class="fa fa-home"></i></a>
      <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/CountryCrash">
        <i class="fa fa-facebook"></i>
      </a>
    </span>
  </div>


</div>
