<!-- Soziale Netzwerke -->
<section id="social-networks" class="subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-offset-2 col-lg-8 ">
        <h3>Soziale Netzwerke</h3>
        <p>Wir sind auch in den folgenden sozialen Netzwerken vertreten:</p>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center social-link mb-3">

            <a rel="noopener" href="http://www.facebook.com/fussballfieber2019">
              <div class="mb-3">
                <img aria-label="Facebook" src="/assets/images/social-networks/facebook.png" title="Facebook">
              </div>
              www.facebook.com/fussballfieber2019
            </a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center social-link mb-3">
            <a rel="noopener" href="http://www.twitter.com/fussballfieber2019">
              <div class="mb-3">
                <img aria-label="Twitter" src="/assets/images/social-networks/twitter.png" title="Twitter">
              </div>
              http://www.twitter.com/fussballfieber2019
            </a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center social-link mb-3">
            <a rel="noopener" href="http://www.youtube.com/fussballfieber2019">
              <div class="mb-3">
                <img aria-label="Youtube" src="/assets/images/social-networks/youtube.png" title="Youtube">
              </div>
              www.youtube.com/fussballfieber2019
            </a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center social-link mb-3">
            <a href="https://www.instagram.com//fussballfieber2019">
              <div class="mb-3">
                <img aria-label="Instagram" src="/assets/images/social-networks/instagram.png" title="Instgram">
              </div>
              www.instagram.com//fussballfieber2019
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section><!-- //Soziale Netzwerke -->
