.social-link {
  opacity: 0.4;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social-link:hover {
  font-weight: normal;
  opacity: 1;
  text-decoration: none;
}

.social-link img {
  max-width: 200px;
}
