<!-- Vorteile -->
<section id="vorteile" class="subsection">
  <div class="container-fluid">

    <div class="row">

      <div class="col-xs-12 col-lg-6 col-lg-offset-1 content-box">
        <h3 class="ml-5"><i class="fa fa-thumbs-o-up"></i> Vorteile für Sponsoren</h3>

        <div class="row">
          <div class="col-xs-10">
            <div class="box-part">
              <i class="fa-heart-o fa fa-3x" aria-hidden="true"></i>
              <div class="content" style="margin-top: 1.4rem">
                <h4>Soziales Engagement</h4>
                <p>Durch Ihre Teilnahme zeigt Ihr Unternehmen soziales Engagement.</p>
              </div>
            </div>
          </div>

          <div class="col-xs-10">
            <div class="box-part">
              <i class="fa-bullhorn fa fa-3x" aria-hidden="true"></i>
              <div class="content" style="margin-top: 1.4rem">
                <h4>Sie sind in aller Munde</h4>
                <p>Regionale und überregionale Steigerung des Bekanntheitsgrades.</p>
              </div>
            </div>
          </div>

          <div class="col-xs-10">
            <div class="box-part">
              <i class="fa-money fa fa-3x" aria-hidden="true"></i>
              <div class="content" style="margin-top: 1.4rem">
                <h4>Steuerliche Gründe</h4>
                <p>Ihre Aufwendungen können als Betriebsausgaben berücksichtigt werden.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-lg-4">
        <app-sponsoren-kontakt-formular></app-sponsoren-kontakt-formular>
      </div>

    </div>

  </div>
</section><!-- //Vorteile -->

<app-sponsoren-preise></app-sponsoren-preise>

<app-sponsoren-ansprechpartner></app-sponsoren-ansprechpartner>

<app-sponsoren-liste></app-sponsoren-liste>

