<script>
  $('.carousel').carousel();
</script>

<div class="content-box">
  <h3 class="mb-5">Wir unterstützen ...</h3>
  <p class="text-justify">
    Die Erlöse der Veranstaltung wollen wir unter anderem der Globus-Stiftung zur Verfügung stellen, aber auch die
    Deutsche Kinderkrebsstiftung und die Stefan-Morsch-Stiftung werden mit Spenden bedacht.
  </p>

  <div class="row">
    <div class="col-md-12 top-slider">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active card">
            <div class="card-body">

              <!-- <div class="news-media text-center">
                <img class="img-fluid"
                     src="/assets/images/projekte/stefan-morsch-stiftung.svg"
                     alt="Stefan-Morsch-Stiftung"/>
              </div>-->

              <div class="news-title">
                <h2 class="title-large">Stefan-Morsch-Stiftung <br />
                  <small>www.stefan-morsch-stiftung.com</small>
                </h2>
              </div>
              <div class="news-des">Die Stefan-Morsch-Stiftung mit Sitz im rheinland-pfälzischen Birkenfeld ist die
                älteste Stammzellspenderdatei Deutschlands. Unter dem Leitmotiv “Hoffen – Helfen – Heilen“ bietet die
                gemeinnützige Stiftung seit 1986 Hilfe für Leukämie- und Tumorkranke – in jeder Frage.
              </div>
            </div>
          </div>
          <div class="carousel-item card">
            <div class="card-body">

              <div class="news-media text-center">
                <img class="img-fluid"
                     src="/assets/images/projekte/globus-stiftung.jpg"
                     alt="Globus-Stiftung">
              </div>

              <div class="news-title">
                <h2 class="title-large">Globus Stiftung <br />
                  <small>www.globus-stiftung.de</small>
                </h2>
              </div>
              <div class="news-des">
                Seit ihrer Gründung vor über 10 Jahren widmet sich die Globus-Stiftung der Förderung von Kindern und
                Jugendlichen in schwierigen Situationen, um ihnen den Einstieg ins Berufsleben zu erleichtern.
                Die Globus Stiftung will junge Menschen ermutigen, ihre eigenen Stärken und Fähigkeiten zu erkennen und
                ihnen helfen, sich auf das spätere Berufsleben vorzubereiten.
              </div>
            </div>
          </div>
          <div class="carousel-item card">
            <div class="card-body">

              <!-- <div class="news-media text-center">
                 <img class="img-fluid"
                      src="/assets/images/projekte/kinderkrebsstiftung.png"
                      alt="Deutsche Kinderkrebsstiftung">
               </div>-->

              <div class="news-title">
                <h2 class="title-large">Deutsche Kinderkrebsstiftung <br />
                  <small>www.kinderkrebsstiftung.de</small>
                </h2>
              </div>
              <div class="news-des">
                Die Deutsche Kinderkrebsstiftung setzt sich dafür ein, dass krebskranke Kinder wieder gesund werden
                können und in ihrer Lebensqualität und ihren Zukunftschancen anderen Kindern nicht nachstehen.
                Betroffenen Familien mit kompetenter Beratung und Information zur Seite zu stehen, gehört ebenso zum
                Aufgabenspektrum wie die Unterstützung durch den Sozialfonds in finanziellen Notlagen.
              </div>
            </div>
          </div>
        </div>

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

      </div>
    </div>
  </div>
</div>
