<!-- Preise -->
<section id="preise" class="subsection">
  <div class="container-fluid">
    <h3 class="col-lg-offset-2 mb-5"><i class="fa fa-euro"></i> Preise für Sponsoren</h3>
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-offset-1 col-lg-5">
        <div class="card mb-5 mb-lg-0 h-100">
          <div class="card-body">
            <span class="card-notify-badge">Topseller</span>
            <span class="card-notify-year">
              Early Bird <br/>
              296 €
            </span>

            <h5 class="card-title text-muted text-uppercase text-center">Bronze</h5>
            <h6 class="card-price text-center">329 &euro; ab dem 28.02.</h6>
            <hr>
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                mindestens 20min <abbr title="Unter der Sendezeit verstehen wir die Sendezeit Ihrer Anzeigen pro Tag.">Sendezeit</abbr> (Werbespot oder
                Logo auf der 4x5m LED-Leinwand)
              </li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>
                Logoabbildung in der Fußballfieber Zeitschrift
              </li>
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                Fußballfieber-Weltrekord 2019 Emblem Bronze
              </li>
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                3m Banner- oder Bandenwerbung auf der Veranstaltungsfläche
              </li>
              <li class="text-muted">
                <span class="fa-li"><i class="fa fa-times"></i></span>
                Ihre Flyer oder Werbegeschenke in unserer Goodiebag
              </li>
              <li class="text-muted">
                <span class="fa-li"><i class="fa fa-times"></i></span>
                Teilnahme am Rahmenprogramm: Ihr Verkaufs- oder Infostand auf dem Veranstaltungsgelände
              </li>
              <li class="text-muted">
                <span class="fa-li"><i class="fa fa-times"></i></span>
                Ihr Firmenlogo auf dem Trikot der Spieler oder auf bis zu 200 Helfer- und Supporter-Shirts
              </li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Kaufen</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
        <div class="card mb-5 mb-lg-0 h-100">
          <div class="card-body">
            <span class="card-notify-year">
              Early Bird <br/>
              566 €
            </span>

            <h5 class="card-title text-muted text-uppercase text-center">Silber</h5>
            <h6 class="card-price text-center">629 &euro; ab dem 28.02.</h6>
            <hr>
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                mindestens 45min <abbr title="Unter der Sendezeit verstehen wir die Sendezeit Ihrer Anzeigen pro Tag.">Sendezeit</abbr> (Werbespot oder
                Logo auf der 4x5m LED-Leinwand)
              </li>
              <li class="strong"><span class="fa-li"><i class="fa fa-check"></i></span>
                Logoabbildung in der Fußballfieber Zeitschrift
              </li>
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                Fußballfieber-Weltrekord 2019 Emblem Silber
              </li>
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                10m Banner- oder Bandenwerbung auf der Veranstaltungsfläche
              </li>
              <li class="text-muted">
                <span class="fa-li"><i class="fa fa-times"></i></span>
                Ihre Flyer oder Werbegeschenke in unserer Goodiebag
              </li>
              <li class="text-muted">
                <span class="fa-li"><i class="fa fa-times"></i></span>
                Teilnahme am Rahmenprogramm: Ihr Verkaufs- oder Infostand auf dem Veranstaltungsgelände
              </li>
              <li class="text-muted">
                <span class="fa-li"><i class="fa fa-times"></i></span>
                Ihr Firmenlogo auf dem Trikot der Spieler oder auf bis zu 200 Helfer- und Supporter-Shirts
              </li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Kaufen</a>
          </div>
        </div>
      </div>

      <div class="mt-4 col-xs-12 col-sm-6 col-md-6 col-lg-offset-1 col-lg-5">
        <div class="card mb-5 mb-lg-0 h-100">
          <div class="card-body">
            <span class="card-notify-year">
              Early Bird <br/>
              2276 €
            </span>

            <h5 class="card-title text-muted text-uppercase text-center">Gold</h5>
            <h6 class="card-price text-center">2529 &euro; ab dem 28.02.</h6>
            <hr>
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                mindestens 1h <abbr title="Unter der Sendezeit verstehen wir die Sendezeit Ihrer Anzeigen pro Tag.">Sendezeit</abbr> (Werbespot oder Logo
                auf der 4x5m LED-Leinwand)
              </li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>
                Präsentation Ihres Unternehmens in allen Werbe-Medien
              </li>
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                Fußballfieber-Weltrekord 2019 Emblem Gold
              </li>
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                10m Banner- oder Bandenwerbung am Spielfeldrand
              </li>
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                Ihre Flyer oder Werbegeschenke in unserer Goodiebag
              </li>
              <li class="text-muted">
                <span class="fa-li"><i class="fa fa-times"></i></span>
                Teilnahme am Rahmenprogramm: Ihr Verkaufs- oder Infostand auf dem Veranstaltungsgelände
              </li>
              <li class="text-muted">
                <span class="fa-li"><i class="fa fa-times"></i></span>
                Ihr Firmenlogo auf dem Trikot der Spieler oder auf bis zu 200 Helfer- und Supporter-Shirts
              </li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Kaufen</a>
          </div>
        </div>
      </div>

      <div class="mt-4 col-xs-12 col-sm-6 col-md-6 col-lg-5">
        <div class="card mb-5 mb-lg-0 h-100">
          <div class="card-body">
            <span class="card-notify-year">
              Early Bird <br/>
              6776 €
            </span>

            <h5 class="card-title text-muted text-uppercase text-center">Platin</h5>
            <h6 class="card-price text-center">7529 &euro; ab dem 28.02.</h6>
            <hr>
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                mindestens 2h <abbr title="Unter der Sendezeit verstehen wir die Sendezeit Ihrer Anzeigen pro Tag.">Sendezeit</abbr> (Werbespot oder Logo
                auf der 4x5m LED-Leinwand)
              </li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>
                Präsentation Ihres Unternehmens in allen Werbe-Medien
              </li>
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                Fußballfieber-Weltrekord 2019 Emblem Platin
              </li>
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                10m Banner- oder Bandenwerbung Mitte des Spielfelds oder hinter dem Tor
              </li>
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                Ihre Flyer oder Werbegeschenke in unserer Goodiebag
              </li>
              <li>
                <span class="fa-li"><i class="fa fa-check"></i></span>
                Teilnahme am Rahmenprogramm: Ihr Verkaufs- oder Infostand auf dem Veranstaltungsgelände
              </li>
              <li>
                <span class="fa-li"><i class="fa fa-checks"></i></span>
                Ihr Firmenlogo auf dem Trikot der Spieler oder auf bis zu 200 Helfer- und Supporter-Shirts
              </li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Kaufen</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section><!-- //Preise -->
