<section id="time-line" class="subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <h3>Bisherige Rekordversuche in zeitlicher Abfolge</h3>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <div class="main-time-line4">
          <div class="time-line">
            <div class="time-line-content">
              <span class="year">2014</span>
              <div class="inner-content">
                <h3 class="title">Kerbach, Frankreich</h3>
                <p class="description">
                  Erstmals aufmerksam auf den Weltrekord über das längste Fußballspiel wurden wir 2014, als
                  im französischen Kerbach ein solcher über 72h durchgeführt, jedoch im Nachgang seitens
                  der Guinness World Records Limited Company nicht anerkannt wurde.
                </p>
              </div>
            </div>
          </div>
          <div class="time-line">
            <div class="time-line-content">
              <span class="year">Juni 2015</span>
              <div class="inner-content">
                <h3 class="title">Wallhalben, Deutschland</h3>
                <p class="description">
                  Der VfL Wallhalben und der SC Winterbach schließen vom 04. bis 07. Juni 2015
                  einen Versuch über 75h erfolgreich ab.
                </p>
              </div>
            </div>
          </div>
          <div class="time-line">
            <div class="time-line-content">
              <span class="year">Juni 2015</span>
              <div class="inner-content">
                <h3 class="title">Edinburgh, England</h3>
                <p class="description">
                  Nahezu zeitgleich zum Rekord in Wallhalben wurde ein Spiel in Edinburgh über 102 Spielstunden
                  erfolgreich beendet.
                </p>
              </div>
            </div>
          </div>
          <div class="time-line">
            <div class="time-line-content">
              <span class="year">Mai 2016</span>
              <div class="inner-content">
                <h3 class="title">Worthing, England</h3>
                <p class="description">
                  In Worthing (UK) wurde zwischen dem 26. und 30. Mai 2016 ein Weltrekord über 108
                  Stunden und 2 Minuten aufgestellt und von Guinness als solcher anerkannt.
                </p>
              </div>
            </div>
          </div>
          <div class="time-line">
            <div class="time-line-content">
              <span class="year">Juni 2016</span>
              <div class="inner-content">
                <h3 class="title">Hamburg, Deutschland</h3>
                <p class="description">
                  Mit dem FC Hamburger Berg spielte der VfL Wallhalben abermals ein Marathon-Match vom 31. Mai bis
                  zum 05. Juni 2016 im Schanzenpark Hamburg.
                  Nach einer Spielzeit von 111 Stunden wurde der Rekord von der World Record Academy anerkannt und
                  beurkundet, seitens Guinness jedoch nicht, weil man hier mit der Beweisführung nicht einverstanden
                  war.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
