<section id="zeitplan" class="subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1">
        <app-event-zeitplan></app-event-zeitplan>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <app-event-funpark></app-event-funpark>
        <app-event-tombolas></app-event-tombolas>
      </div>
    </div>
  </div>
</section>


<section id="preise" class="subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1">
        <app-event-preise></app-event-preise>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <app-event-bands></app-event-bands>
      </div>
    </div>
  </div>
</section>

<!--
<app-event-firmen></app-event-firmen>-->

<app-event-location></app-event-location>
