<section id="spiel" class="subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <h3>Vorstellung der beiden Vereine</h3>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-lg-offset-1">
        <img src="/assets/images/logo-sfw.gif" class="img-fluid float-left float-sm-left float-md-left float-lg-left float-xl-left mr-3 club-logo" />
        <h4>Sportfreunde Winterbach e.V.</h4><br />
        <p style="text-align: left">
          Die Sportfreunde Winterbach sind ein klassischer Mehrsparten Sportverein mit dem
          Hauptaugenmerk auf Fußball. Die Ursprünge des Vereins reichen zurück bis ins Jahr 1913
          wobei die dokumentierte Gründung im März 1927 erfolgte. Der heute seit 91 Jahren
          bestehende Verein, besitzt momentan etwa 300 Mitglieder, die sich in drei Aktive
          Herrenmannschaften, eine Damenmannschaft, zwei Altherrenmannschaften, etwa zehn
          Jugendmannschaften sowie eine Sparte für Frauenturnen aufteilen.
        </p>
        <p>
          Der Verein ist darüber hinaus noch als Ausrichter zahlreicher regelmäßiger Veranstaltungen
          überregional bekannt. Hierzu zählen beispielsweise ein jährliches Dorfturnier (Ein Dorf spielt
          Fußball), Jugendfußballschulen (unter anderem die Klaus-Fischer-Fußballschule), ein
          jährliches Grumbeerfest (Kartoffelfest), die immer wiederkehrende Glühwein- und
          Feuerzangenbowlenacht, die FIFA Konsolen Weltmeisterschaft u. v. m.
        </p>
        <p>
          Mit der Wahl eines neuen extrem verjüngten Vorstands im Jahr 2016 erfolgte gleichzeitig
          auch ein Umdenken was die jährlichen Veranstaltungen anbelangt und es wird seitdem
          unermüdlich daran gearbeitet die Attraktivität des Vereins und des Ortes Winterbach weiter
          zu steigern.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
        <img src="/assets/images/logo-tgifec.png" class="img-fluid float-left float-sm-left float-md-left float-lg-left float-xl-left mr-2 club-logo" />
        <h4>Thank God It´s Friday Event Club Wallhalben</h4><br />
        <p>
          Mitte des Jahres 2017 wurde in Wallhalben ein neuer Verein gegründet. Der "Thank God It ́s
          Friday - Event Club" hat sich zum Ziel gesetzt, das gesellschaftliche Miteinander zu fördern
          und zu Zeiten von sozialen Netzwerken und generell permanent steigender Abhängigkeit
          vom Internet den realen Kontakt wieder in den Vordergrund zu rücken. Satzungsgemäß
          wurde der Zweck des Vereins der Herstellung, Pflege und Wahrung reeller, sozialer Kontakte
          gewidmet.
        </p>
        <p>
          Im Zuge dessen sind wir als Verein bemüht, das ein oder andere Event, das hoffentlich die
          Allgemeinheit anspricht, auf die Beine zu stellen. In der noch jungen Vereinsgeschichte hat
          der beim Vereinsregister Zweibrücken eingetragene TGIF-EC bereits die Organisation des
          „Mühlen-Weihnachtsdorfes“ in Wallhalben, die Organisation und Durchführung eines
          Knutfestes zu Beginn des Jahres und eines Mensch-ärgere-Dich-nicht-Turniers an Karfreitag
          übernommen. Ein weiteres Großereignis, an dem wir organisatorisch beteiligt sind, ist das
          Rockfestival "Thank God It ́s Firerock", das wir gemeinsam mit dem Förderkreis der
          Freiwilligen Feuerwehr Wallhalben planen und durchführen.
        </p>
        <p>
          Der noch wachsende Verein besteht aus interessierten Personen umliegender Gemeinden
          und auch zeitgleich aus Mitgliedern des VfL Wallhalben, die bereits in den Jahren 2015 und
          2016 federführend an der Organisation zweier Weltrekordversuche über das längste
          Fußballspiel der Welt beteiligt waren.
        </p>
      </div>
    </div>
  </div>
</section>
