<app-spiel-vorstellung></app-spiel-vorstellung>

<section id="weiterlesen" class="subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-5 col-lg-offset-1 mt-2">
        <app-startseite-weitere-infos></app-startseite-weitere-infos>
      </div>
      <div class="col-md-6 col-lg-5 mt-2">
        <app-event-soziales-projekt></app-event-soziales-projekt>
      </div>
    </div>
  </div>
</section>

<app-startseite-ausrichter></app-startseite-ausrichter>

<app-spiel-kartenansicht></app-spiel-kartenansicht>

<section id="kontakt" class="subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 mt-2">
        <app-startseite-stadion></app-startseite-stadion>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 contact_form mt-2">
        <app-sponsoren-kontakt-formular></app-sponsoren-kontakt-formular>
      </div>
    </div>
  </div>
</section>
