<!-- Reviews - Logos -->
<section id="reviews_logos" class="subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
          <h3>Berichte</h3>
          <p>Auflistung von Medien, die berichten:</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 col-lg-offset-2 reviews_logo">
        <img src="/assets/images/reviews_logos/logo1.png" alt=""></div>
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 reviews_logo">
        <img src="/assets/images/reviews_logos/logo2.png" alt=""></div>
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 reviews_logo">
        <img src="/assets/images/reviews_logos/logo3.png" alt=""></div>
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 reviews_logo">
        <img src="/assets/images/reviews_logos/logo4.png" alt=""></div>
    </div>

  </div>
</section><!-- //Reviews - Logos-->
