<!-- Spieler -->
<section id="spieler" class="subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
        <h3><i class="fa fa-user-circle-o"></i> Teilnehmende Spieler</h3>
        <p>
          Folgende Spieler wollen sich beim Weltrekordversuch 2019 im Guinessbuch der Rekorde verewigen:
        </p>

        <h4>Sportfreunde Winterbach</h4>

        <div class="row">
          <div class="col-md-12">

            <div id="myCarousel" class="carousel slide">

              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>

              <!-- Carousel items -->
              <div class="carousel-inner">

                <div class="item active">
                  <div class="row">
                    <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image"
                                                                           style="max-width:100%;"/></a></div>
                    <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image"
                                                                           style="max-width:100%;"/></a></div>
                    <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image"
                                                                           style="max-width:100%;"/></a></div>
                    <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image"
                                                                           style="max-width:100%;"/></a></div>
                  </div><!--/row-fluid-->
                </div><!--/item-->

                <div class="item">
                  <div class="row-fluid">
                    <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image"
                                                                           style="max-width:100%;"/></a></div>
                    <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image"
                                                                           style="max-width:100%;"/></a></div>
                    <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image"
                                                                           style="max-width:100%;"/></a></div>
                    <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image"
                                                                           style="max-width:100%;"/></a></div>
                  </div><!--/row-fluid-->
                </div><!--/item-->

                <div class="item">
                  <div class="row-fluid">
                    <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image"
                                                                           style="max-width:100%;"/></a></div>
                    <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image"
                                                                           style="max-width:100%;"/></a></div>
                    <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image"
                                                                           style="max-width:100%;"/></a></div>
                    <div class="span3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image"
                                                                           style="max-width:100%;"/></a></div>
                  </div><!--/row-fluid-->
                </div><!--/item-->

              </div><!--/carousel-inner-->

              <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div><!--/myCarousel-->

          </div>
        </div>

        <!--<div id="screenshots_gallery">
          <div class="owl-carousel-screenshots text-center">
            <owl-carousel [options]="sliderOptions"
                          [items]="images"
                          #owlElement
                          class="row"
                          [carouselClasses]="['']">
              <ng-container class="col-lg-6"
                            *ngFor="let player of wtbPlayers;">
                <figure class="red">
                  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample73.jpg" alt="sample73"/>
                  <figcaption>
                    <h3>Richard Tea</h3>
                    <div>
                      <p>We live, in a very kooky time.</p>
                    </div><a href="#"></a>
                  </figcaption>
                </figure>
              </ng-container>
            </owl-carousel>
          </div>
        </div>-->

        <h4>&bdquo;Thank God it´s Friday&rdquo; - Event Club</h4>


      </div>
    </div>
  </div>

</section><!-- //Spieler-->
