<!-- Sponsoren -->
<section id="sponsoren" class="subsection" style="background-color: #fff">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10 col-lg-offset-1">
        <h3><i class="fa fa-info"></i> Unsere Sponsoren</h3>
        <p style="color: #2badd9;">Folgende Unternehmen haben bereits jetzt ihre Unterstützung bei unserem ehrgeizigen
          Projekt zugesagt.</p>
      </div>


      <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="row" style="display: flex">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 text-center"
               *ngFor="let sponsor of sponsors; let first = first;">

            <h5 class="text-black-50" style="border-bottom: 1px dotted #cecece; font-size: 0.75rem">{{sponsor.title}}</h5>
            <a *ngIf="sponsor.url"
               [href]="sponsor.url"
               target="_blank">
              <img
                class="img img-fluid"
                [src]="sponsor.imageUrl"
                alt="{{sponsor.title}}"
                title="{{sponsor.title}}">
            </a>

          </div>
        </div>
      </div>


      <!--
      <div class="col-lg-8 col-lg-offset-2" id="sponsors_gallery">
        <div class="owl-carousel-sponsors text-center">



          <owl-carousel [options]="sliderOptions"
                        [items]="sponsors"
                        #owlElement
                        [carouselClasses]="['mb-0']">
            <div *ngFor="let sponsor of sponsors; let first = first;">
              <a *ngIf="sponsor.url"
                 [href]="sponsor.url"
                 target="_blank">
                <img
                  class="img"
                  [src]="sponsor.imageUrl"
                  alt="{{sponsor.title}}"
                  title="{{sponsor.title}}">
              </a>
              <img *ngIf="!sponsor.url"
                   class="img img-fluid"
                   [src]="sponsor.imageUrl"
                   alt="{{sponsor.title}}"
                   title="{{sponsor.title}}">
            </div>
          </owl-carousel>
        </div>
      </div>-->
    </div>
  </div>
</section><!-- //Sponsoren-->
