<!-- Newsletter -->
<section id="newsletter" class="subsection_parallax" data-stellar-background-ratio="0.8">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 text-center newsletter-box">
        <div class="intro">
          <h3>Weltrekord&ndash;Newsletter</h3>
          <p style="font-weight: bolder">Du willst immer auf dem Laufenden sein was den Weltrekord angeht? Kein Problem!
            Melde Dich einfach zu
            unserem Newsletter an.</p>
        </div>

        <form action="" method="post" id="subscribe-form">
          <div class="newsletter_form" style="display: flex; justify-content: center">
            <div class="input-field">
              <input id="email" type="email" placeholder="E-Mail Addresse" name="email" class="validate">
            </div>
            <button class="btn btn-primary subscribe-submit" type="submit" name="action"
                    id="subscribe-form-submit">Jetzt anmelden!
            </button>
          </div>
        </form>

        <!--<div id="preview"></div>-->
      </div>
    </div>

  </div>
</section><!-- //Newsletter -->
