<!-- Regeln -->
<section id="regeln" class="subsection">
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <h3 class="mb-5"> Wichtigste Regeln zum Weltrekord</h3>

        <p>Die Guinness World Records Limited Company hat uns ein für den Rekordversuch gültiges Regelwerk zugesandt.
          Die
          wichtigsten Eckpunkte dieser Guidelines sind folgende:</p>

        <ul class="numeric-list">
          <li>Es muss generell (hinsichtlich Spielfeld, Bällen, etc.) nach den Regeln der betroffenen Sportart
            gespielt
            werden.
          </li>
          <li>Gespielt werden darf mit zwei Teams zu je 18 Spielern, wobei die Spieler die Positionen jederzeit
            beliebig
            tauschen können.
          </li>
          <li>Während des Versuchs darf keiner der 36 Spieler zwischen den Teams wechseln oder durch einen weiteren
            Spieler
            ersetzt werden.
          </li>
          <li>Die Anzahl der Spieler darf zu keinem Zeitpunkt des Versuchs unter die Grenze fallen, die in den Regeln
            der
            Sportart als Mindestanzahl vorgeschrieben ist.
          </li>
          <li>Alle Spieler müssen sich von Beginn bis Ende des Versuchs auf dem Spielfeld, also dem Innenraum zwischen
            den
            Spielfeldabgrenzungen, befinden. Dies gilt auch zum Essen und zum Schlafen, wobei evtl. notwendige
            Maßnahmen zur
            ärztlichen Versorgung, die jedoch dokumentiert werden müssen, ausgenommen sind.
          </li>
          <li>Kein Spieler darf jünger als 16 Jahre sein. Spieler, die das 18. Lebensjahr noch nicht vollendet haben,
            müssen
            das Einverständnis ihrer Erziehungsberechtigten nachweisen.
          </li>
          <li>Zwei voneinander unabhängige Zeitnehmer müssen die Zeit des Versuches mitstoppen. Zu jedem Zeitpunkt des
            Versuchs müssen mindestens zwei Zeitnehmer vor Ort sein.
          </li>
          <li>Die beiden Teams müssen zu jedem Zeitpunkt des Versuchs von mindestens einer geeigneten Person betreut
            werden.
          </li>
          <li>Die Beweisführung über die Dauer des Versuchs kann über Videoaufnahmen geführt werden, wobei wir bemüht
            sind
            einen offiziellen Juror der Guinness World Records Limited Company einzuladen.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section><!-- //Regeln-->
