<!-- Ansprechpartner -->
<section id="ansprechpartner" class="subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <h3><i class="fa fa-envelope"></i> Ansprechpartner</h3>
      </div>
    </div>
    <div class="row">

      <div class="mt-4 col-xs-12 col-sm-6 col-md-4 col-lg-offset-2 col-lg-2">
        <div class="card profile-card-4 h-100">
          <div class="card-img-block">
            <div class="info-box">Fachinformatiker beim Land Saarland</div>
            <img class="img-fluid"
                 src="https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/14556785_1289084184437292_6694507411528008123_o.jpg?_nc_cat=104&_nc_ht=scontent-frt3-1.xx&oh=1581da9ac32405f81c43fb28b47af8c9&oe=5CA34BFB"
                 alt="Card image cap">
          </div>
          <div class="card-body pt-5">
            <img src="/assets/images/ansprechpartner/Thomas-min.jpg" alt="profile-image" class="profile"/>
            <h5 class="card-title text-center">Thomas Handle</h5>
            <p class="card-text text-center">Pressearbeit und Sponsoring</p>
          </div>
          <div class="card-footer text-center">
            <a aria-label="Mail Kontakt"
               href="mailto: t.handle@fussballfieber2019.de">t.handle@fussballfieber2019.de</a>
            <div class="icon-block" style="margin-top: 2rem;">
              <a style="border-bottom: none" rel="noopener" aria-label="Facebook" target="_blank"
                 href="https://www.facebook.com/thomas.handle"><i class="fa fa-facebook"></i></a>
              <a style="border-bottom: none" aria-label="Mail Kontakt" href="mailto: Thomas.handle@gmail.com"><i
                class="fa fa-envelope-o"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4 col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="card profile-card-4 h-100">
          <div class="card-img-block">
            <div class="info-box">Diplom-Verwaltungswirt beim Land Saarland</div>
            <img class="img-fluid"
                 src="https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/14556785_1289084184437292_6694507411528008123_o.jpg?_nc_cat=104&_nc_ht=scontent-frt3-1.xx&oh=1581da9ac32405f81c43fb28b47af8c9&oe=5CA34BFB"
                 alt="Card image cap">
          </div>
          <div class="card-body pt-5">
            <img src="/assets/images/ansprechpartner/Dirk-min.jpg" alt="profile-image" class="profile"/>
            <h5 class="card-title text-center">Dirk Stiwitz</h5>
            <p class="card-text text-center">Organisation Spiel/Beweisführung & Sponsoring</p>
          </div>
          <div class="card-footer text-center">
            <a aria-label="Mail Kontakt"
               href="mailto: d.stiwitz@fussballfieber2019.de">d.stiwitz@fussballfieber2019.de</a>
            <div class="icon-block" style="margin-top: 2rem;">
              <a style="border-bottom: none" rel="noopener" aria-label="Facebook" target="_blank"
                 href="https://www.facebook.com/dirk.stiwitz"><i class="fa fa-facebook"></i></a>
              <a style="border-bottom: none" aria-label="Mail Kontakt" href="mailto: d.stiwitz@fussballfieber2019.de"><i
                class="fa fa-envelope-o"></i></a>
            </div>
          </div>

        </div>
      </div>

      <div class="mt-4 col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="card profile-card-4 h-100">
          <div class="card-img-block">
            <div class="info-box">Azubi Kaufm. im Groß- u. Außenhandel</div>
            <img class="img-fluid"
                 src="https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/14556785_1289084184437292_6694507411528008123_o.jpg?_nc_cat=104&_nc_ht=scontent-frt3-1.xx&oh=1581da9ac32405f81c43fb28b47af8c9&oe=5CA34BFB"
                 alt="Card image cap">
          </div>
          <div class="card-body pt-5">
            <img src="/assets/images/ansprechpartner/Robin-min.jpg" alt="profile-image" class="profile"/>
            <h5 class="card-title text-center">Robin Klein</h5>
            <p class="card-text text-center">PR / Marketing & Sponsoren</p>
          </div>
          <div class="card-footer text-center">
            <a aria-label="Mail Kontakt"
               href="mailto: r.klein@fussballfieber2019.de">r.klein@fussballfieber2019.de</a>
            <div class="icon-block" style="margin-top: 2rem;">
              <a style="border-bottom: none" rel="noopener" aria-label="Facebook" target="_blank"
                 href="https://www.facebook.com/robin.klein.374"><i class="fa fa-facebook"></i></a>
              <a style="border-bottom: none" aria-label="Mail Kontakt" href="mailto: r.klein@fussballfieber2019.de"><i
                class="fa fa-envelope-o"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4 col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="card profile-card-4 h-100">
          <div class="card-img-block">
            <div class="info-box">Diplom Kommunikations-Designerin</div>
            <img class="img-fluid"
                 src="https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/14556785_1289084184437292_6694507411528008123_o.jpg?_nc_cat=104&_nc_ht=scontent-frt3-1.xx&oh=1581da9ac32405f81c43fb28b47af8c9&oe=5CA34BFB"
                 alt="Card image cap">
          </div>
          <div class="card-body pt-5">
            <img src="/assets/images/ansprechpartner/Iris-min.jpg" alt="profile-image" class="profile"/>
            <h5 class="card-title text-center">Iris Reisenauer</h5>
            <p class="card-text text-center">Konzeption & Gestaltung</p>
          </div>
          <div class="card-footer text-center">
            <a aria-label="Mail Kontakt" href="mailto: i.reisenauer@fussballfieber2019.de">i.reisenauer@fussballfieber2019.de</a>
            <div class="icon-block" style="margin-top: 2rem;">
              <a style="border-bottom: none" rel="noopener" aria-label="Homepage" target="_blank"
                 href="http://iridadesign.de"><i class="fa fa-home"></i></a>
              <a style="border-bottom: none" aria-label="Mail Kontakt"
                 href="mailto: i.reisenauer@fussballfieber2019.de"><i class="fa fa-envelope-o"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- //Ansprechpartner -->
