html {
  overflow-x: hidden;
}

.intro {
  padding-bottom: 3rem;
}

.intro h3 {
  margin-top: 0;
}

.subsection {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: 1;
  border-bottom:1px solid #cecece;
}

.shadow {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#footer.subsection {
  border: 0;
  padding-top: 2rem;
  padding-bottom: 0.9rem;
}

#footer small {
  font-weight: 300
}

.subsection_parallax {
  min-height: 20em;
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
  z-index: 1;
}

@media only screen and (max-device-width: 768px) {
  #reviews, #newsletter {
    -webkit-background-size: initial;
    -moz-background-size: initial;
    -o-background-size: initial;
    background-size: initial;
  }
}

.unordered li {
  margin: 0 !important;
}


.input-field {
  position: relative;
}

.input-field label {
  opacity: 0.7;
  position: absolute;
  top: 0.8rem;
  left: 0;
  font-size: 1rem;
  cursor: text;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.input-field label.active {
  font-size: 0.8rem;
  opacity: 0.7;
  -webkit-transform: translateY(-130%);
  -moz-transform: translateY(-130%);
  -ms-transform: translateY(-130%);
  -o-transform: translateY(-130%);
  transform: translateY(-130%);
}

.input-field input[type=text].valid,
.input-field input[type=password].valid,
.input-field input[type=email].valid,
.input-field input[type=date].valid,
.input-field textarea.valid {
  border-bottom: 1px solid #4CAF50;
  -webkit-box-shadow: 0 1px 0 0 #4CAF50;
  -moz-box-shadow: 0 1px 0 0 #4CAF50;
  box-shadow: 0 1px 0 0 #4CAF50;
}

.input-field input[type=text].invalid,
.input-field input[type=password].invalid,
.input-field input[type=email].invalid,
.input-field input[type=date].invalid,
.input-field textarea.invalid {
  border-bottom: 1px solid #F44336;
  -webkit-box-shadow: 0 1px 0 0 #F44336;
  -moz-box-shadow: 0 1px 0 0 #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}

.input-field .prefix {
  position: absolute;
  width: 2rem;
  top: 1rem;
  font-size: 1.72rem;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}

.input-field .prefix ~ input,
.input-field .prefix ~ textarea {
  margin-left: 3rem;
  width: calc(100% - 3rem);
}

.input-field .prefix ~ textarea {
  padding-top: 0.8rem;
}

.input-field .prefix ~ label {
  margin-left: 3rem;
}

input[type=text],
input[type=password],
input[type=email],
input[type=date],
textarea {
  background-color: transparent;
  border: none;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

textarea {
  overflow-y: hidden;
  padding: 1.6rem 0;
  resize: none;
}


.btn,
.btn-large,
.btn-flat {
  display: inline-block;
  height: 2.57rem;
  margin-bottom: 15px;
  padding: 0 1.5rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  line-height: 2.57rem;
  text-transform: uppercase;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

.btn.disabled,
.disabled.btn-large,
.btn-floating.disabled,
.btn-large.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-large:disabled,
.btn-floating:disabled {
  background-color: #DFDFDF;
  box-shadow: none;
  color: #9F9F9F;
}

.btn.disabled:hover,
.disabled.btn-large:hover,
.btn-floating.disabled:hover,
.btn-large.disabled:hover,
.btn:disabled:hover,
.btn-large:disabled:hover,
.btn-large:disabled:hover,
.btn-floating:disabled:hover {
  background-color: #DFDFDF;
  color: #9F9F9F;
}

.btn i,
.btn-large i,
.btn-floating i,
.btn-large i,
.btn-flat i {
  font-size: 1rem;
  line-height: inherit;
}

.btn,
.btn-large {
  text-decoration: none;
  color: #FFF;
  text-align: center;
  letter-spacing: 0.8px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer;
}

.btn-flat {
  box-shadow: none;
  background-color: rgba(255, 255, 255, .1);
  color: white;
  cursor: pointer;
}

.btn-flat.disabled {
  color: white;
}

.btn-large {
  height: 54px;
  line-height: 56px;
}

.btn-large i {
  font-size: 1.6rem;
}


select:focus {
  outline: 1px solid #f8c1c3;
}

button:focus {
  outline: none;
}

label {
  font-size: 0.8rem;
  color: #9e9e9e;
}

ul.numeric-list {
  margin-left: 1rem;
  list-style-type: decimal;
}

ul.numeric-list li {
  line-height: 2rem;
}

.circle {
  border-radius: 50%;
  width:200px;
  background-color: #2badd9;
  margin-left: 5rem;
  margin-bottom: 1rem;
}


@media (min-width: 960px) {
  .wrapper {
    column-count: 3;
    column-gap: 5rem;
  }

  .wrapper p {
    text-align: justify;
  }
}

.router-link-active {
  color: #ff8939 !important;
  opacity: 1 !important;
}
