<section id="start" class="subsection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10">
        <h3 class="mb-5"><i class="fa fa-futbol-o"></i> Vorstellung des Projekts</h3>
        <div class="wrapper">
          <p>
            Die Sportfreunde Winterbach e.V. und der „Thank God it´s Friday – Event Club e.V.“ haben sich
            zusammengeschlossen, um vom 29. Mai bis 05. Juni 2019
            einen neuen Weltrekord über das längste Fußballspiel der Welt auf der Sportanlage in Winterbach, Landkreis
            St.
            Wendel, aufzustellen.<br/><br/>
            Das Vorhaben wurde bereits als Weltrekordversuch bei Guinness World Records Limited Company gemeldet.
            Parallel
            findet ein umfangreiches Rahmenprogramm statt.
            Nähere Informationen zum Rahmenprogramm gibt es <a [routerLink]="['/event']" fragment="event">hier</a>.

            Es soll die bisher im Guinness Buch der Rekorde gültige Marke von 108 gespielten Stunden auf 168 Stunden
            gelegt werden.
            168 Stunden entsprechen 112 Spielen am Stück, was etwas mehr als einer doppelten Saison des FC Bayern
            gleichkommt, wenn dieser in allen Wettbewerben das Finale
            erreicht.<br/><br/>
            Vergangene Rekordversuche im Jahre 2015 und 2016 zeigten, dass neben lokalen Printmedien sowie
            Rundfunk- und Fernsehanstalten auch überregionale,
            teils weltweite Presseunternehmen und Sender berichteten.

            Für das Jahr 2019 wird ein noch größeres Medieninteresse erwartet, da das Rahmenprogramm noch weiter ausgebaut
            wurde und die Resonanz zur geplanten Durchführung

            bereits jetzt überwältigend ist. Mit voraussichtlichen Medienpartnern wie dem DFB,
            fussball.de oder Sky stehen wir in engem Kontakt.

            Über die Woche verteilt werden vor Ort etwa 3.000 &ndash; 5.000 Besucher aus der Region
            und dem Umland erwartet.<br/><br/> Durch unsere Medienpartner ist das Event auch für viele

            Ihrer Kunden von zu Hause erlebbar. Durch Ihre Teilnahme zeigen Sie soziales Engagement und steigern Ihren
            regionalen und überregionalen Bekanntheitsgrad. Letztlich kön-
            nen die Aufwendungen sogar steuerlich als Betriebsausgaben berücksichtigt werden.
          </p>
        </div>
      </div>
    </div>
  </div>
</section><!-- //Start -->
